BOT_TOKEN=
ADMIN_CHAT_ID=318629821
MANAGER_USERNAME=knyaztut
MANAGER_PHONE=+375297330592
SHOP_ADDRESS=Минск, Нововиленская 10
SHOP_NAME=КнязьMobile
PORT=3000
ALLOW_INSECURE_ORDERS=false
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DB
